html{
  scroll-behavior: smooth;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    font-family: Arial, Helvetica, sans-serif, serif;
   
}

.wrapper {
  max-width: 1200px;
  margin: auto;
}

h1 {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 70px;
  color: #000000;
}

.p{
  font-family: var(--font-family);
  font-weight: 400;
  font-size:40px;
  color:  #000000;
}

.header {
 display: flex;
  justify-content: space-between;
  align-items: center;
    
}

.nav{
      display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;
    height: 50px;
   
    list-style-type: none;
    text-decoration: none;
    margin-top: 100px;
}

a{
  text-decoration: none ;
}
a:hover{
  color: beige ;
}
.list:hover{
  background-color: #768ad4;
  transition: 0.8s;
  line-height: 5px;
}

.ava{
  height: 800px;
 
}

.name{
  display: flex;
  align-items: center;
 justify-content: center;
border: 5px;
margin-top: 100px;
column-gap: 100px;

}

.contact{
    font-family: var(--font-family);
  font-weight: 400;
  font-size:40px;
  color:  #311ccb;
}

.cv-footer{
    display: flex;
    justify-content: space-between;
    align-items: center;
}